body {
    font-family: "Roboto", "Arial", sans-serif;
}

.visually-hidden {
    display: none;
}

.nav-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.87;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.nav-item:hover {
    color: #fb565a;
}

.nav-item:active {
    color: #000000;
    opacity: 0.3;
}

.slogan {
    font-size: 55px;
    font-weight: 500;
    line-height: 1;
    color: #000000;
}

.sub-slogan {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #283136;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 3px;
    display: inline-block;
    padding-top: 16px;
    text-align: center;
    box-sizing: border-box;
}

.btn-red {
    background-color: #fb565a;
    color: #ffffff;
}

.btn-red:hover {
    background-color: #e74246;
}

.btn-red:active {
    background-color: #d7373b;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 0 0 #c13135;
}

.btn-green {
    background-color: #00ca74;
    color: #ffffff;
}

.btn-green:hover {
    background-color: #00bc6c;
}

.btn-green:active {
    background-color: #00aa62;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 0 0 #009958;
}

.btn-yellow {
    background-color: #efc84a;
    color: #ffffff;
}

.btn-yellow:hover {
    background-color: #eab534;
}

.btn-yellow:active {
    background-color: #e5a722;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 0 0 #ce961f;
}

.btn-grey {
    background-color: #eeeeee;
    color: #000000;
}

.btn-grey:hover {
    background-color: #dfdfdf;
}

.btn-grey:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.btn-page {
    width: 50px;
}

.btn-page-active {
    background-color: white;
    box-shadow: inset 0 0 0 3px #dbdbdb;
}

.btn-page-next {
    width: 260px;
}

.btn-details {
    width: 240px;
}

.btn-order {
    width: 160px;
}

.btn-write-us {
    width: 219px;
}

.btn-filter {
    width: 260px;
}

.btn-price {
    width: 200px;
    margin: auto;
}

.header {
    text-transform: uppercase;
    line-height: 1.67;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    color: #283136;
}

.services .header {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: #000000;
}

.about-us .lead {
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    color: #000000;
}

.about-us .header {
    font-size: 16px;
    line-height: 1.5;
}

.accuracy .header {
    font-size: 16px;
    line-height: 1.5;
}

.accuracy .numbers {
    font-size: 45px;
    font-weight: bold;
    line-height: 0.22;
    color: #000000;
}

.accuracy .text {
    line-height: 1.13;
}

.contacts .title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    color: #000000;
    text-transform: uppercase;
}

.contacts .address, .contacts .phone {
    font-size: 16px;
    line-height: 1.13;
    color: #666666;
}

.friendship .slogan {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
}

.friendship .text {
    line-height: 1.38;
    color: #444444;
}

.appoitment-form {
    display: none;
}

.title {
    font-size: 55px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    color: #000000;
}

.filter .header {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000000;
}

.filter .items {
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    color: #283136;
}

.filter .sort {
    line-height: 1;
}

.sort-type {
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.3;
    font-size: 14px;
    line-height: 1.29;
    color: #000000;
}

.sort-type:hover {
    opacity: 0.6;
}

.sort-type:active {
    opacity: 1;
}

.sort-order {
    width: 0;
    height: 0;
    opacity: 0.3;
    border-left: solid 5.5px transparent;
    border-right: solid 5.5px transparent;
}

.sort-order:hover {
    opacity: 0.6;
}

.sort-order:active {
    opacity: 1;
}

.sort-order.desc {
    border-top: solid 10px #000000;
    border-bottom: 0;
}

.sort-order.asc {
    border-bottom: solid 10px #000000;
    border-top: 0;
}

.template-img::before {
    content: "";
    display: block;
    width: 360px;
    height: 40px;
    background-image: url("../img/browser.svg");
    background-size: 360px 40px;
    opacity: 0.12;
}

.template-img:hover::before {
    opacity: 1;
}

.template-info {
    box-sizing: border-box;
    padding-top: 28px;
    width: 360px;
    height: 231px;
    text-align: center;
    background-color: #eeeeee;
    position: relative;
    top: -231px;
    opacity: 0;
    margin-bottom: -231px;
}

.template-img:hover .template-info {
    opacity: 1;
}

.template-info .header {
    margin-top: 28.6px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    color: #000000;
}

.template-info .header:hover {
    color: #fb565a;
}

.template-info .header:active {
    color: #000000;
    opacity: 0.3;
}

.template-info .text {
    margin-top: 16.4px;
    margin-left: auto;
    margin-right: auto;
    width: 239px;
    line-height: 1.13;
    color: #666666;
}

.template-info .btn {
    position: absolute;
    top: 138px;
    left: 80px;
}

.social-media {
    font-size: 0;
    display: block;
    width: 78.2px;
    height: 78.2px;
    border-radius: 50%;
    background-color: #e1e1e1;
    background-repeat: no-repeat;
    background-position: center;
}

.social-media:hover {
    background-color: #e74246;
}

.social-media-vk {
    background-image: url("../img/vk-icon.svg");
    background-size: 26px 15px;
}

.social-media-fb {
    background-image: url("../img/fb-icon.svg");
    background-size: 12px 22px;
}

.social-media-ig {
    background-image: url("../img/insta-icon.svg");
    background-size: 21px 21px;
}

.price-controls {
    margin-top: 32px;
}

.price-controls.min-price, .price-controls.max-price {
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: #283136;
}

.range-controls {
    position: relative;
    margin-top: 52.4px;
    width: 260.1px;
    height: 80.1px;
    border-radius: 3px;
    background-color: #eeeeee;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcdf;
    width: 219px;
    position: relative;
    top: 39px;
    left: 20.1px;
}

.range-controls .bar {
    width: 152px;
    height: 2px;
    background: #4bd59b;
}

.range-toggle {
    position: absolute;
    top: 29px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 20.1px;
}

.range-toggle-max {
    left: 152px;
}

.price-controls input {
    width: 80px;
    height: 38px;
    display: inline-block;
    font-size: 16px;
    line-height: 1.38;
    color: #283136;
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 3px;
    border: 0;
    text-align: center;
}