/** ГЛОБАЛЬНЫЕ **/

body {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
}

fieldset {
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/** СЕТКА **/

.container {
    width: 1160px;
    margin: 0 auto;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 49px;
}

.main-header-title {
    height: 241px;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    font-size: 55px;
    line-height: 1;
    text-align: center;
}

.main-logo {
    width: 160px;
    height: 65px;
    background-image: url("../img/nerds-logo.svg");
}

.site-navigation {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
}

.site-navigation-item {
    list-style-type: none;
    margin: 0 22.5px;
}

.cart-navigation {
    display: block;
}

.cart-navigation::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    margin-right: 24.4px;
}

.slider {
    padding: 0;
    margin: 0;
}

.slider-item {
    display: flex;
    justify-content: space-between;
}

.slider-item .slogan {
    margin: 0;
    margin-top: 66px;
}

.slider-item .sub-slogan {
    margin-top: 20px;
}

.slider-item-text {
    width: 392px;
    border: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.slider-item-text .btn-details {
    margin-top: auto;
    margin-bottom: 80px;
}

.slider-item:not(:first-child) {
    display: none;
}

.slider-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 0;
    width: 88px;
    margin: 0 auto;
    position: relative;
    top: -96px;
    height: 0;
}

.slider-buttons-item+span {
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    padding: 5px;
    margin: 0;
    border-radius: 50%;
    background-color: #ffffff;
}

.slider-buttons-item:checked+span::after {
    display: block;
    content: "";
    margin: auto;
    box-sizing: border-box;
    padding: 0;
    width: 8px;
    height: 8px;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.services {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    margin: 0;
    border-bottom: 2px solid #eeeeee;
    height: 570px;
    box-sizing: border-box;
}

.services-item {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    width: 300px;
    margin: 0;
}

.services-item .btn {
    margin-top: auto;
}

.about-us {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 525px;
    padding-top: 40px;
    border-bottom: 2px solid #eeeeee;
}

.about-us .common {
    width: 665px;
    margin-top: 32px;
}

.about-us .text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.accuracy {
    width: 360px;
}

.accuracy .numbers {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.numbers li:not(:first-child):not(:last-child) {
    margin: 0 8px;
}

.numbers h5 {
    margin-top: 54px;
    margin-bottom: 27px;
    font-size: 45px;
    font-weight: bold;
    line-height: 10.1px;
    color: #000000;
}

.numbers p {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #283136;
}

.accuracy .header {
    margin-top: 36.3px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.common .header {
    margin-top: 40px;
}

.common ul {
    list-style: none;
    padding: 0;
}

.common li {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.common li::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    margin-right: 40px;
    background-color: #fb565a;
}

.clients {
    display: flex;
    justify-content: space-between;
    list-style: none;
    box-sizing: border-box;
    height: 180px;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    padding-top: 46px;
    padding-bottom: 44px;
    border-bottom: 2px solid #eeeeee;
}

.clients-logo {
    display: flex;
    width: 209px;
    height: 90px;
    justify-content: space-around;
    align-items: center;
}

.clients-logo img {
    opacity: 0.2;
}

.clients-logo img:hover {
    opacity: 1;
}

.clients-logo img:active {
    opacity: 0.1;
}

.clients-logo:not(:last-child)::after {
    content: "";
    display: block;
    width: 0;
    height: 52px;
    background-color: #eeeeee;
    position: relative;
    left: 44px;
    border-left: 2px solid #eeeeee;
    opacity: 1;
}

.main-footer {
    display: flex;
    align-items: center;
    height: 217px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 217px;
    width: 259.2px;
}

.social-media-item {
    list-style-type: none;
    border-radius: 50%;
    border: 0;
    padding: 0;
    margin: 0;
    width: 78.2px;
    height: 78.2px;
    background-color: #e1e1e1;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    display: block;
    box-sizing: border-box;
}

.social-media-item:hover {
    background-color: #e74246;
}

.social-media-item:active {
    background-color: #d7373b;
}

.social-media-item:active svg {
    opacity: 0.3;
}

.friends {
    margin-left: 140px;
}

.main-content {
    display: flex;
}

.filter {
    width: 260px;
}

.filter-price-header {
    height: 133px;
    margin: 0;
    padding: 0;
    padding-top: 56.6px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 0.18px;
    color: #000000;
}

.filter-price {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    width: 100%;
}

.price-controls label {
    display: block;
    margin: 0;
}

.price-controls input {
    width: 80px;
    height: 38px;
    display: inline-block;
    font-size: 16px;
    line-height: 1.38;
    color: #283136;
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 3px;
    border: 0;
    text-align: center;
    margin-left: 12px;
}

.filter-mesh-header {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    color: #000000;
}

.filter-mesh {
    padding: 0;
    margin-top: 55px;
}

.filter-mesh-items {
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    color: #283136;
}

.filter-mesh-items li {
    list-style: none;
}

.filter-mesh-items label {
    display: flex;
    align-items: center;
    list-style: none;
}

.filter-mesh-items li:not(:first-child):not(:last-child) {
    margin-top: 15px;
    margin-bottom: 15px;
}

.filter-mesh-radio+span {
    content: "";
    display: inline-block;
    background-image: url("../img/radio-off.svg");
    opacity: 0.4;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.filter-mesh-radio:checked+span {
    background-image: url("../img/radio-on.svg");
}

.filter-mesh-radio:focus+span, .filter-mesh-radio+span:hover {
    opacity: 1;
}

.filter-benefits {
    padding: 0;
    margin-top: 44px;
}

.filter-benefits-header {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
}

.filter-benefits-items {
    padding: 0;
}

.filter-benefits-items li {
    list-style: none;
}

.filter-benefits-items label {
    display: flex;
    align-items: center;
    list-style: none;
}

.filter-benefits-items li:not(:first-child):not(:last-child) {
    margin-top: 16px;
    margin-bottom: 16px;
}

.filter-benefits-checkbox+span {
    content: "";
    display: inline-block;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
    width: 27px;
    height: 23px;
    margin-right: 8px;
    cursor: pointer;
}

.filter-benefits-checkbox:checked+span {
    background-image: url("../img/checkbox-on.svg");
}

.filter-benefits-checkbox:focus+span, .filter-benefits-checkbox+span:hover {
    opacity: 1;
}

.catalog {
    margin-left: 140px;
    width: 760px;
}

.sort {
    height: 133px;
    display: flex;
    align-items: center;
}

.sort-type {
    display: flex;
    padding: 0;
    margin-left: 265px;
}

.sort-type-item {
    list-style: none;
}

.sort-type-item:not(:first-child):not(:last-child) {
    margin-left: 26px;
    margin-right: 26px;
}

.sort-order {
    display: flex;
    margin-left: auto;
}

.templates {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.templates-item {
    list-style-type: none;
    margin-bottom: 33px;
}

.pages {
    display: flex;
    margin-top: 27px;
}

.pages-wrapper {
    padding: 0;
    margin: 0;
    display: flex;
}

.pages-item {
    list-style-type: none;
}

.pages-item:not(:first-child):not(:last-child) {
    margin-left: 11px;
    margin-right: 11px;
}

.contacts {
    height: 416px;
    margin-top: 60px;
    padding-top: 54px;
    box-sizing: border-box;
    background-image: url("../img/map-marker.png.png"), url("../img/Clip.png");
    background-repeat: no-repeat;
    background-position: 735px 75px, center;
    background-size: 231px 190px, cover;
}

.address-box {
    position: relative;
    display: block;
    width: 319px;
    height: 308px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.address-box .title {
    margin: 0;
    padding: 0;
}

.address-box .btn {
    box-sizing: border-box;
    padding: 0;
    border: none;
    position: absolute;
    bottom: 47px;
}

/** ОФОРМЛЕНИЕ **/

.main-header {
    background-color: #eeeeee;
}

.slogan {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.sub-slogan {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #283136;
    margin: 0;
    padding: 0;
}

.btn {
    text-transform: uppercase;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 3px;
    display: inline-block;
    padding-top: 16px;
    text-align: center;
    box-sizing: border-box;
}

.btn-red {
    background-color: #fb565a;
    color: #ffffff;
}

.btn-red:hover {
    background-color: #e74246;
}

.btn-red:active {
    background-color: #d7373b;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 0 0 #c13135;
}

.btn-green {
    background-color: #00ca74;
    color: #ffffff;
}

.btn-green:hover {
    background-color: #00bc6c;
}

.btn-green:active {
    background-color: #00aa62;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 0 0 #009958;
}

.btn-yellow {
    background-color: #efc84a;
    color: #ffffff;
}

.btn-yellow:hover {
    background-color: #eab534;
}

.btn-yellow:active {
    background-color: #e5a722;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 0 0 #ce961f;
}

.btn-grey {
    background-color: #eeeeee;
    color: #000000;
}

.btn-grey:hover {
    background-color: #dfdfdf;
}

.btn-grey:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.btn-nav {
    color: #000000;
    line-height: 1.87;
}

.btn-nav:hover {
    color: #fb565a;
}

.btn-nav:active {
    color: rgba(0, 0, 0, 0.3);
}

.btn-nav-active {
    border-bottom: 2px solid #fb565a;
    border-radius: 0;
}

.btn-page {
    width: 50px;
}

.btn-page-active {
    background-color: white;
    box-shadow: inset 0 0 0 3px #dbdbdb;
}

.btn-page-next {
    width: 260px;
    margin-left: 11px;
}

.btn-details {
    width: 240px;
}

.btn-order {
    width: 160px;
}

.btn-write-us {
    width: 219px;
}

.btn-filter, .btn-submit {
    width: 260px;
}

.btn-price {
    width: 200px;
    margin: auto;
}

.header {
    text-transform: uppercase;
    line-height: 1.67;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    color: #283136;
}

.services .header {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: #000000;
}

.services .text {
    font-size: 16px;
    line-height: 1.5;
    color: #283136;
    width: 240px;
}

.about-us .lead {
    margin: 0;
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    color: #000000;
}

.about-us .header {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
}

.accuracy .numbers {
    font-size: 45px;
    font-weight: bold;
    line-height: 0.22;
    color: #000000;
}

.accuracy .text {
    line-height: 1.13;
}

.contacts .title {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.contacts .address, .contacts .phone {
    font-size: 16px;
    line-height: 1.13;
    color: #666666;
}

.friends .slogan {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    margin: 4.4px;
    color: #000000;
}

.friends .text {
    line-height: 1.38;
    margin: 4.4px;
    color: #444444;
}

.contact-form {
    display: none;
    position: absolute;
    bottom: -67px;
    left: 100px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 72px;
    padding-left: 101px;
    width: 960px;
    height: 590px;
    background-color: #ffffff;
    box-shadow: 0 20px 40px #000101;
}

.contact-form h2 {
    display: flex;
    align-items: center;
    font-size: 45px;
    line-height: 45px;
    margin: 0;
    padding: 0;
}

.contact-form-close {
    font-size: 0;
    display: inline-block;
    border: 0;
    padding: 0;
    width: 21px;
    height: 21px;
    background-color: transparent;
    background-image: url("../img/close-cross.svg");
    opacity: 0.3;
    margin-left: 441px;
    cursor: pointer;
}

.contact-form-close:hover {
    opacity: 1;
}

.contact-form-close:active {
    opacity: 0.1;
}

.contact-form .contact-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 760px;
    margin: 0;
    margin-top: 50px;
    padding: 0;
}

.contact-item {
    margin: 0;
    padding: 0;
    width: 360px;
    font-size: 16px;
    line-height: 18px;
}

.contact-item label {
    font-weight: bold;
}

.contact-item input[type="text"], .contact-item textarea {
    box-sizing: border-box;
    margin: 0;
    margin-top: 13px;
    margin-bottom: 36px;
    padding: 0;
    padding-left: 14px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.contact-item input[type="text"]:hover, .contact-item textarea:hover {
    border-color: #b4b9bb;
}

.contact-item input[type="text"]:focus, .contact-item textarea:focus {
    border-color: #000000;
}

.contact-item input[type="text"]:invalid, .contact-item textarea:invalid {
    border-color: #e74246;
}

.contact-item input {
    width: 360px;
    height: 50px;
}

.contact-item textarea {
    width: 760px;
    height: 118px;
    padding-top: 14px;
}

.filter .header {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000000;
}

.filter .items {
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    color: #283136;
}

.filter .sort {
    line-height: 1;
}

.sort-header {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
}

.sort-type-item a {
    text-transform: uppercase;
    opacity: 0.3;
    font-size: 14px;
    line-height: 1.29;
    color: #000000;
}

.sort-type-item:hover a {
    opacity: 0.6;
}

.sort-type-item:active a {
    opacity: 1;
}

.sort-order-item {
    font-size: 0;
    width: 0;
    height: 0;
    opacity: 0.3;
    border-left: solid 5.5px transparent;
    border-right: solid 5.5px transparent;
}

.sort-order-item:hover {
    opacity: 0.6;
}

.sort-order-item:active {
    opacity: 1;
}

.sort-order-item.desc {
    border-top: solid 10px #000000;
    border-bottom: 0;
    margin-right: 18px;
}

.sort-order-item.asc {
    border-bottom: solid 10px #000000;
    border-top: 0;
}

.templates-item::before {
    content: "";
    display: block;
    width: 360px;
    height: 40px;
    background-image: url("../img/browser.svg");
    background-size: 360px 40px;
    opacity: 0.12;
}

.templates-item:hover::before {
    opacity: 1;
}

.template-info {
    box-sizing: border-box;
    padding-top: 28px;
    width: 360px;
    height: 231px;
    text-align: center;
    background-color: #eeeeee;
    position: relative;
    top: -231px;
    opacity: 0;
    margin-bottom: -231px;
}

.templates-item:hover .template-info {
    opacity: 1;
}

.template-info .header {
    margin-top: 28.6px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    color: #000000;
}

.template-info .header:hover {
    color: #fb565a;
}

.template-info .header:active {
    color: #000000;
    opacity: 0.3;
}

.template-info .text {
    margin-top: 16.4px;
    margin-left: auto;
    margin-right: auto;
    width: 239px;
    line-height: 1.13;
    color: #666666;
}

.template-info .btn {
    position: absolute;
    top: 138px;
    left: 80px;
}

.vk-icon {
    padding-top: 31.6px;
    padding-left: 26.1px;
}

.fb-icon {
    padding-top: 28.1px;
    padding-left: 33.1px;
}

.ig-icon {
    padding-top: 28.6px;
    padding-left: 28.6px;
}

.min-price, .max-price {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: #283136;
}

.range-controls {
    position: relative;
    width: 260.1px;
    height: 80.1px;
    border-radius: 3px;
    background-color: #eeeeee;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcdf;
    width: 219px;
    position: relative;
    top: 39px;
    left: 20.1px;
}

.range-controls .bar {
    width: 152px;
    height: 2px;
    background: #4bd59b;
}

.range-toggle {
    position: absolute;
    top: 29px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 20.1px;
}

.range-toggle-max {
    left: 152px;
}